@import './variables.scss';
@import '../../../variables-global.scss';

.banner-container {
    height: $banner-height;
    position: absolute;
    width: 100%;
    background-color: #42A5F5;
}

.banner-user-name-container {
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
    color: white;
    margin-left: 50%;
}

.banner-user-name {
    font-weight: lighter;
    font-size: xx-large;
    margin: -50%;
}

.account-settings-container {
    position: absolute;
    top: $banner-height;
    width: 100%;
    height: 100%;
}

.account-settings-tabs {
    text-align: center;

    ul {
        list-style-type: none;
        margin: 10px 0 0 0;
        padding: 0;
    }
    li {
        padding: 8px 1% 10px 1%;
        text-align: center;
        display: inline;
        box-shadow: 0px 3px 10px -8px black;

        a {
            color: navy;
        }
    }
    li:hover {
        background-color: aliceblue;//#42A5F5;
        //color:white;
        @extend .cursor-pointer;

        a {
            text-decoration: none;
            //color: white;
        }
    }
}

.account-settings-li {
}