.cursor-pointer {
    cursor: pointer;
}

.font-small {
    font-size: small;
}

.float-right {
    float: right;
}

.input-box {
    width: 100%;
    outline: none;
    padding: 6px;
    margin: 5px 0;
    border-width: 0 0 1px;
    border-bottom-color: #42A5F5;
}

.text-area-box {
    width: 100%;
    padding: 5px;
}

.height-100 {
    height: 100%;
}

.display-message {
    font-size: small;
    padding: 0px 2px;

    &-error {
        @extend .display-message;
        color: #dc3545;
    }
    &-warning {
        @extend .display-message;
        color: #ffc107;
    }
    &-success {
        @extend .display-message;
        color: #28a745;
    }
}