.inventor-ideas-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.user-settings-ideas-list {
    overflow-y: scroll;
    height: 68vh;
    padding: 0 10px;
}

.draft-published {
    padding: 5px;
    color: navy;

    li {
        list-style-type: none;
        padding: 10px;
        box-shadow: 0px 3px 10px -8px black;
    }
    li:hover {
        background-color: aliceblue;
        @extend .cursor-pointer;
    }
    .idea-tab-active {
        background-color: aliceblue;
        @extend .cursor-pointer;
    }
}
