@import '../../variables-global.scss';
@import './variables-ideas.scss';

.ideas-top-panel {
    position: absolute;    
    background-color: #42A5F5;
    width: 100%;
    height: $ideas-top-panel-height;
}

.ideas-container {
    position: absolute;
    top: $ideas-top-panel-height;
    width: 100%;
    height: calc(100% - #{$ideas-top-panel-height});
    background-color: $app-default-background-color;
}

.search-bar {
    padding: 5px;
    background: $app-default-background-color;
    border: none;
    width: 100%;
    margin-top: 8px;
}
.search-bar:focus {
    background: white;
    border: 1px solid navy;
    outline: none !important;
}

.search-bar:hover {
    @extend .search-bar:focus;
}

.button-style {
    padding: 5px;
    border: none;
    background: $app-default-background-color;
    float: right;
    margin-top: 8px;

    a {
        color: navy;
    }
}
.button-style:hover {
    cursor: pointer;
    color: navy;
    background: white;
    border: 1px solid navy;

    a {
        text-decoration: none;
    }
}
.button-style:focus{
    outline: none;
}

.idea-container {
    margin: 4px -10px 10px -10px;
    box-shadow: 0px 3px 10px -8px black;;
    padding: 2px 8px 4px 8px;
    background-color: white;
}
.idea-container:hover{
    background: aliceblue;
}

.filter-box {
    width: 100%;
    margin: 4px 0px 0px 0px;
    box-shadow: $box-shadow-global;
    padding: 10px 12px 10px 12px;
    background-color: white;
}

.filter-topics-container {
    display: inline-block;
    padding: 4px
}
.filter-topic {
    width: 50%;
    display: inherit;
}

.idea-text {
    font-weight: 500;
}
.idea-text:hover{
    @extend .cursor-pointer;
}

.idea-description {
    font-weight: 300;
}

.icon {
    &-touchup {
        margin: 10px 2px;
        font-size: larger;
    }

    &-star {
        color: gold;
    }
    &-thumbs-up {
        color: blue;
    }
    &-thumbs-down {
        color: red;
    }
}

i:hover {
    @extend .cursor-pointer;
}

.icon-label {
    padding-right: 10px;
    color: navy;
}

.userinfo {
    font-size: small;
}

.username-display {
    @extend .cursor-pointer;
}

.idea-actions {
    @extend .font-small;
}